.listContainer {
    /*flex:3;*/
  /*  min-width: 300px;*/

   /* padding:20px;*/
    margin:20px;
    border-radius: 20px;
   box-shadow:0px 0px 15px -10px rgba(0,0,0,0.8);
    -webkit-box-shadow:0px 0px  15px -10px rgba(0,0,0,0.8);
    
}

.widgetSmTitle {
    font-size: 25px;
    font-weight: 700;
   /* padding:10px;*/
    display: flex;
     justify-content: center;
      /*text-align: center;*/
}

.devAvatar {
    width:50px;
    height:50px;
    border-radius:50%;
    cursor:pointer;

}

.widgetSmList {
 margin:-30px; /*-30px is a makeshift solution to make the message items closer together*/
 padding:30px;
 list-style: none;
}


/*this is to align list items in a vertical direction and put some space between list items*/
.widgetSmListItem {
    display:flex;
    align-items:center;
    justify-content:space-around;
    margin:20px 0px;
    
    border-radius: 20px;
    padding:10px;
   box-shadow:0px 0px 15px -10px rgba(0,0,0,0.8);
    -webkit-box-shadow:0px 0px  15px -10px rgba(0,0,0,0.8);
}

/*this is to make the name and title in a column*/
.widgetSmUser {
    display:flex;
    flex-direction:column;
    text-align: left;
}

.widgetSmUsername {
    font-weight: 600;
}

.widgetSmUserTitle {
    font-weight: 300;
}



.widgetSmButton {
    display:flex; /*to centralize the icon and font*/
    align-items:center; /* to centralize the icon and font*/
    border:none;
    border-radius:10px;
    padding:7px 10px;
    background-color:  rgb(30, 121, 3);; /*#b0b0b4;*/
    color:#ffff;
    font-size:20px;
    
}
 
.buttonBackground {
    background-color: rgb(30, 121, 3);
      /*#b0b0b4;so that the icon's background matches with the button*/
    margin-right: 10px;
}
