.propertyitemContainer {
    
    margin:40px 20px;
    padding: 30px;
    border-radius:10px;
   

    -webkit-box-shadow:0px 0px 0px 11px -1px #000000;
    box-shadow:0px 0px 11px -1px #000000;

    display:flex;
    justify-content: space-around;

}

.chartForList {
    -webkit-box-shadow:none !important;
    box-shadow:none !important;
    width: 35%;
}

.chart{
    max-width: 30%;
    flex:1;
}




.houseInfoContainer {
 display:flex;
 justify-content:space-around;
 flex-direction:column;
}

/*.address {

}*/

.houseStats {
    display:flex;
    justify-content: space-around;
   font-size: large;
   font-weight: bold;
}

/*.percentAppreciation {


}*/

.priceAndView {
    display:flex;
    flex-direction:column;

}

/*.price {

  
}*/

.view {

   padding:7px 20px 7px 20px;
   
   border-radius: 5px;
   background-color: black;
   color:white;
   font-size: large;
   font-weight: bold;
   margin-top: 10px;
}
