a {
    text-decoration: none;
    color:#ffff;  /* i had to go and reemphasise that the color should be white after putting an anchor tag. take note, for when you remove those anchor tags*/
}


.sidebar {
    /*flex:1.5;*/
    height:100vh;/*calc(100vh )- 50px */
    background-color: rgb(30, 121, 3);
    
    width:23vw;
    position:sticky;
    top:-10px;
    z-index: 2;
}

@media screen and (max-width:1100px) {
   .sidebar{ width:50vw; }
}

.sidebarWrapper {
     margin-top: 100px;
    padding:20px;
    color:white;
    background-color: rgb(30, 121, 3);
}

.sidebarMenu {
    margin-bottom: 20px;
   
}


.buttonSidebar {

   

    padding:10px 10px 10px 10px;
    width: 140px;
    border-radius: 5px;
    background-color: rgb(35, 138, 4);
    color:white;
    font-size: large;
    font-weight: bold;
    cursor:pointer;

    margin-left:10px;
    margin-top:100px;
 
}

.buttonSidebar:hover{
    background-color: rgb(87, 86, 86);
}

.iconNB {
   background: inherit;
}




.sidebarTitle {
    /*font-size:13px;*/
    color:#ffffff;
    background-color: rgb(30, 121, 3); /*I gotta enforce background color here cuz each item  was focing it's own background color*/
    transition: font-size 0.2s;
}

.clickable:hover{
    color: rgb(135, 221, 109);
    font-size: 20px;
}


.sidebarList{
    list-style: none;
    padding:5px;
    background-color: rgb(30, 121, 3);; /*I gotta enforce background color here cuz each item  was focing it's own background color*/

}

.sidebarListItem {
    cursor:pointer;
    padding:15px;
    display:flex;
    align-items: center;
    border-radius:10px;
    background-color: rgb(30, 121, 3); /*I gotta enforce background color here cuz each item  was focing it's own background color*/
    

}


.linkref{
    background-color: rgb(30, 121, 3); 
}

.sidebarListItemIcon {
    cursor:pointer;
    background-color: rgb(30, 121, 3);;
    border-radius:5px;
    margin-right:15px;

}

.sidebarListItem.active , .sidebarListItem:hover {
    background-color: rgb(173, 173, 184);
}






