.homeContainer {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:100%;
    padding-left:1%;
    padding-right:10%;
    padding-top: 5%;
    padding-bottom:5%;
}

.chartsAndMessages {
    margin-top: 40px; /* ideally , I should use some sort of padding , to push neigbouring elements away , but this workds for now */
    flex:1;
    display:flex;
    width:100%; /*this width is the width from right of dashboard
                 to the right side of the screen*/
    justify-content:space-between;
    
}


.searchComponent{
    flex:0.2;
    
}

.searchButton {

   

        padding:7px 20px 7px 20px;
        
        border-radius: 5px;
        background-color: black;
        color:white;
        font-size: large;
        font-weight: bold;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
     
}


.propertyList {
    margin-top: 40px; /* ideally , I should use some sort of padding , to push neigbouring elements away , but this workds for now */
    height: 20%;
    flex:3;
    overflow: scroll;
    max-height: 55vh;
}


/*temporary*/

.filterOptions {
    display: flex;
    flex-direction: column;
    position:relative;
    left:-5%;
    top:50px;
    opacity: 0;
    
}

 


.optionItem1 {
    cursor:pointer;
    padding:10px;
    border-style: solid;
    border-width:1px;
    
}

.optionItem2 {
    cursor:pointer;
    padding:10px;
    border-style: solid;
    border-width:1px;
    border-top: 0.5px;
}


.optionItem1:hover{
    background-color: rgb(30, 121, 3);
    color:white;
    border-color: black;
}

.optionItem2:hover{
    background-color: rgb(30, 121, 3);
    color:white;
    border-color: black;
}