.homeContainer {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:100%;
    padding-left:1%;
    padding-right:10%;
    padding-top: 5%;
    padding-bottom:5%;
    background-color: #ffffff;
}

.positionAdjuster{
    background-color: #ffffff;
}


.chartsAndMessages {
    margin-top: 40px; /* ideally , I should use some sort of padding , to push neigbouring elements away , but this workds for now */
    flex:1;
    display:flex;
    width:100%; /*this width is the width from right of dashboard
                 to the right side of the screen*/
    justify-content:space-between;
    background-color: #ffffff;
}


.searchComponent{
    flex:0.2;
    
}

.searchAndFilterContainer {
    background-color: #ffffff;  /* its better to have a whole body icon that one can apply background color to, but i will refactor later*/
}

.searchBox{
    background-color: #ffffff;
}

.searchButton {

   

        padding:7px 20px 7px 20px;
        
        border-radius: 5px;
        background-color: black;
        color:white;
        font-size: large;
        font-weight: bold;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
     
}


.propertyList {
    margin-top: 40px; /* ideally , I should use some sort of padding , to push neigbouring elements away , but this workds for now */
    height: 20%;
    flex:3;
    
    /*max-height: 55vh;*/
    background-color: #ffffff;
}


.propertyLabel {
    background-color: #ffffff;
}

.filterAndLogo{
    background-color: #ffffff;
}

.filterIcon {
    background-color: #ffffff;
}

/*temporary*/


.filterOptions {
    display: flex;
    flex-direction: column;
    position:relative;
    left:-5%;
    top:50px;
    opacity: 0;
    
}

 


.optionItem1 {
    cursor:pointer;
    padding:10px;
    border-style: solid;
    border-width:1px;
    
}

.optionItem2 {
    cursor:pointer;
    padding:10px;
    border-style: solid;
    border-width:1px;
    border-top: 0.5px;
}


.optionItem1:hover{
    background-color: rgb(30, 121, 3);
    color:white;
    border-color: black;
}

.optionItem2:hover{
    background-color: rgb(30, 121, 3);
    color:white;
    border-color: black;
}

 .ArrowIcon {
    background-color:/* rgb(30, 121, 3)*/ black;
    color:white;
 }


.ArrowIcon.active ,  .ArrowIcon:hover {
    background-color:/* rgb(30, 121, 3)*/ black;
    color:white;

}


/*exclusively for pagination*/


.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
  }
  .pages {
    display: flex;
    flex-direction: row;
    gap: 20px;
    
  }
  .page {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(141, 140, 140);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
  }
  .page:hover {
    background-color: #087f5b;
    color: #fff;
  }

  .active {
    background-color: #087f5b;
    color: #fff;
  }

  .btn {
    background-color: inherit;
    border: 1px solid #087f5b;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn:hover {
    background-color: #087f5b;
  }
  .btn--icon {
    height: 34px;
    width: 50px;
    stroke: #087f5b;
    
  }
  .btn--icon:hover {
    stroke: #fff;
    background-color: #087f5b;
  }

/*pagination ending*/